ul{
    display: flex;
    color: blue;
    background-color: yellow;
    margin: 20px;
}
li{
    margin: 20px;
    padding: 10px;
    background-color: aqua;
    text-decoration: none;
    list-style: none;

}